<div class="menubar">
  <ul>
    <li>{{#linkTo "documents.select"}}Nytt{{/linkTo}}</li>
    <li>{{#linkTo "documents"}}Öppna{{/linkTo}}</li>
    <li><a href="#" {{ action "save" }}>Spara</a></li>
    <li><a href="#" {{ action "print"}}>Skriv ut</a></li>
    <li><a href="#">Logga ut</a></li>
  </ul>
  <div class="external-header-toolbar"></div>
  <div class="external-main-toolbar"></div>
  <div class="external-footer-toolbar"></div>
</div>

{{ outlet }}