<div class="menubar">
  <ul>
    <li>{{#linkTo "index"}}Index{{/linkTo}}</li>
    <li>{{#linkTo "documents"}}Nytt{{/linkTo}}</li>
    <li><a href="/#/document/1">Öppna</a></li>
    <li class="save"><button {{action "save"}}>Spara</button></li>
    <li class="print"><a href="javascript:void(null);">Skriv ut</a></li>
    <li class="logout"><a href="javascript:void(null);">Logga ut</a></li>
  </ul>
  <div class="external-header-toolbar"></div>
  <div class="external-main-toolbar"></div>
  <div class="external-footer-toolbar"></div>
</div>

{{outlet}}

<form id="document-form" action="http://redactor.dev/pdf.php" method="post">
  <div class="document portrait">
    {{outlet document}}
  </div>
</form>