<div class="main-content">
  <h1>4–9 mars 2013</h1>

  <div class="main-editor">
    {{ view App.RedactorView valueBinding='main' options='mainOptions' }}
  </div>
</div>

<div class="footer">
  <p>
    Läs mer på <strong>livetvartattleva.se</strong>
  </p>
</div>