@import "compass";
@import "susy";

$fonts-path: '';

@font-face {
  font-family: 'Foundry Sterling';
  src: url($fonts-path + 'foustbko-webfont.eot');
  src: local('☺'), url($fonts-path + 'foustbko-webfont.woff') format('woff'), url($fonts-path + 'foustbko-webfont.ttf') format('truetype'), url($fonts-path + 'foustbko-webfont.svg#webfontRZi4MKMP') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Foundry Sterling';
  src: url($fonts-path + 'foustdmo-webfont.eot');
  src: local('☺'), url($fonts-path + 'foustdmo-webfont.woff') format('woff'), url($fonts-path + 'foustdmo-webfont.ttf') format('truetype'), url($fonts-path + 'foustdmo-webfont.svg#webfontzF1jjzZt') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Foundry Sterling';
  src: url($fonts-path + 'foustito-webfont.eot');
  src: local('☺'), url($fonts-path + 'foustito-webfont.woff') format('woff'), url($fonts-path + 'foustito-webfont.ttf') format('truetype'), url($fonts-path + 'foustito-webfont.svg#webfontK6Z0j02g') format('svg');
  font-weight: normal;
  font-style: italic;
}

body {
  background: #666;
  padding-top: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #124c8c;
  text-decoration: none;

  &:hover {

  }
}

.modal {
  @include container;
  // width: 760px;
  // margin: 0 auto;
  // padding: 1em 2em;
  padding-top: 0.5em;
  background: #ffffff;
  // @include box-sizing(border-box);

  .cover {
    background: #efefef;
    border: 1px solid #494433;
    width: 224px;
    height: 331px;
  }

  ul {
    @include pie-clearfix;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    @include span-columns(3);
    @include nth-omega(4);
    // width: 200px;
    // float: left;
    margin-bottom: 2em;

    img {
      width: 100%;
    }
  }
}

.document {
  position: relative;
  $padding: 15mm;
  $width: (210mm - ($padding * 2));
  $height: (297mm - ($padding * 2));
  color: #000;
  font-family: 'Foundry Sterling';
  font-size: 16px;

  background: #fff;
  margin: 3em auto;
  padding: $padding;
  overflow: hidden;

  .document-inner {
    position: relative;
    // height: 100%;
    height: $height;
    // margin: 15mm;
  }

  &.portrait {
    width: $width;
    height: $height;
  }

  &.landscape {
    width: $height;
    height: $width;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0.25em 0 0.5em 0;
    line-height: 1.1;
  }

  p {
    margin: 0.25em 0 0.5em 0;
    line-height: 1.5;
  }
}

.color-picker {
  $bg-color: #ccc;
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em;
  margin: 0;
  z-index: 10;
  width: 100px;
  background: $bg-color;
  border-top: 1px solid ligthen($bg-color, 20%);
  border-left: 1px solid ligthen($bg-color, 20%);
  border-right: 1px solid darken($bg-color, 20%);
  border-bottom: 1px solid darken($bg-color, 20%);
  @include border-radius(3px);
  // height: 50px;
  // width: 100px;

  list-style: none;

  line-height: 0;

  li {
    border-bottom: 1px solid ligthen($bg-color, 10%);
    border-right: 1px solid ligthen($bg-color, 10%);
    border-top: 1px solid darken($bg-color, 10%);
    border-left: 1px solid darken($bg-color, 10%);

    width: 20px;
    height: 20px;
    margin: 2px 2px 2px 2px;
    display: inline-block;
    cursor: pointer;
  }
}

.menubar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #e5e5e5;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #555;
    }
  }

  ul {
    padding: 4px 8px;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline;
    margin-right: 1em; 
  }
}