<div class="header">
  <div class="symbol-container">
    <img class="symbol" src="/assets/symbols/Kyrkofonstret_Skugga_bla.png">
  </div>

  <div class="header-content">
    <textarea id="redactor_header" class="header-redactor redactor" name="content[header]">
      {{{ headerContent }}}
    </textarea>
  </div>
</div>

<textarea id="redactor_main" class="main-redactor redactor" name="content[main]">
  {{{ mainContent }}}
</textarea>

<div class="footer-content">
  <textarea id="redactor_footer" class="footer-redactor redactor" name="content[footer]">
    {{{ footerContent }}}
  </textarea>
</div>